// BREAKPOINTS POUR MIXIN
$breakpoint-mobile: 375px;
$breakpoint-tablet: 768px;
$breakpoint-tablandscape: 992px; //tablet-landscape
$breakpoint-xlarge: 1920px; //big desktop - 21pouces

@mixin respondTo($media) {
  @if $media == mobile {
    @media (max-width: $breakpoint-mobile) {
      @content;
    }
  } @else if $media == tablet {
    @media (max-width: $breakpoint-tablet) {
      @content;
    }
  } @else if $media == tablandscape {
    @media (max-width: $breakpoint-tablandscape) {
      @content;
    }
  } @else if $media == xlarge {
    @media (min-width: $breakpoint-xlarge) {
      @content;
    }
  }
}
