// BREAKPOINTS POUR MIXIN
$breakpoint-mobile: 414px;
$breakpoint-tablet: 820px;
$breakpoint-tablandscape: 992px; //tablet-landscape
$breakpoint-xlarge: 1920px; //big desktop - 21pouces

@mixin respondTo($media) {
  @if $media == mobile {
    @media (max-width: $breakpoint-mobile) {
      @content;
    }
  } @else if $media == tablet {
    @media (max-width: $breakpoint-tablet) {
      @content;
    }
  } @else if $media == tablandscape {
    @media (max-width: $breakpoint-tablandscape) {
      @content;
    }
  } @else if $media == xlarge {
    @media (min-width: $breakpoint-xlarge) {
      @content;
    }
  }
}

// CONTENT

@mixin position {
  width: 100%;
  max-width: 130rem;
  margin: 5rem auto;
}

@mixin view {
  height: 100vh;
  width: 100vw;
}

@mixin flexRow {
  display: flex;
  flex-direction: row;
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

@mixin dash {
  content: '';
  background-color: $font;
  position: absolute;
}

@mixin leftTransform {
  left: 50%;
  transform: translateX(-50%);
}

@mixin image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
