// COLORS
$font: rgb(14, 24, 77);
$detailing: grey;
$emailing: rgb(250, 210, 156);
$background: rgb(251, 233, 210);
$overlay: antiquewhite;
$neutral: white;

// TITLES
h2 {
  font-size: 4rem;
  font-weight: normal;
}

h3 {
  font-size: 1.8rem;
  font-weight: normal;
}

h4 {
  font-size: 1.3rem;
  font-weight: normal;
}
