.category {
  @include position;

  @include respondTo(tablandscape) {
    width: 90%;
  }

  @include respondTo(mobile) {
    margin-top: 10rem;
  }

  &__description {
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.8rem;
    padding: 0 30rem;

    @include respondTo(tablandscape) {
      padding: 0 20rem;
    }

    @include respondTo(tablet) {
      padding: 0 12rem;
    }

    @include respondTo(mobile) {
      width: 100%;
      padding: 0 1rem;
    }

    p:first-child {
      position: relative;
      margin-bottom: 4rem;

      &:after {
        top: 8.3rem;
        height: 0.1rem;
        width: 1rem;

        @include dash;
        @include leftTransform;

        @include respondTo(tablandscape) {
          top: 10.2rem;
        }

        @include respondTo(mobile) {
          top: 13.8rem;
        }
      }
    }
  }

  &__title {
    font-weight: bold;
    margin: 5rem auto;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__product {
    display: grid;
    grid-template-columns: repeat(auto-fill, 20rem);
    gap: 5rem;
    justify-content: space-between;
    width: 100%;

    @include respondTo(tablandscape) {
      grid-template-columns: repeat(auto-fill, 19rem);
      gap: 1.5rem;
    }

    @include respondTo(mobile) {
      grid-template-columns: repeat(auto-fill, 16rem);
    }
  }
}
