.shop {
  //background-color: aquamarine;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 130rem;
  margin: auto;
  margin-bottom: 5rem;

  @include respondTo(tablandscape) {
    width: 90%;
  }

  @include respondTo(mobile) {
    margin-top: 9rem;
  }

  &__description {
    //background-color: pink;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.8rem;
    padding-left: 30rem;
    padding-right: 30rem;

    @include respondTo(tablandscape) {
      padding-left: 20rem;
      padding-right: 20rem;
    }

    @include respondTo(tablet) {
      padding-left: 12rem;
      padding-right: 12rem;
    }

    @include respondTo(mobile) {
      width: 100%;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    p:first-child {
      position: relative;
      margin-bottom: 4rem;

      &:after {
        content: '';
        background-color: $font;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 8.3rem;
        height: 0.1rem;
        width: 1rem;

        @include respondTo(tablandscape) {
          top: 9.1rem;
        }

        @include respondTo(tablet) {
          top: 10.1rem;
        }

        @include respondTo(mobile) {
          top: 13.8rem;
        }
      }
    }
  }

  &__title {
    //border: 2px solid blue;
    font-weight: bold;
    margin-top: 5rem;
    margin-bottom: 2rem;

    @include respondTo(tablandscape) {
      margin-top: 3rem;
      margin-bottom: 1rem;
    }

    @include respondTo(mobile) {
      font-size: 3.5em;
    }
  }

  &__content {
    //background-color: thistle;
    width: 100%;
  }
}
