.button {
  padding-right: 3rem;
  padding-left: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.15s ease-in;

  &--dark {
    background-color: $emailing;
    border: 0.19rem solid $neutral;
    color: $neutral;

    &:hover {
      background-color: $neutral;
      color: $emailing;
      border-color: $emailing;
    }
  }

  &--neutral {
    background-color: transparent;
    border: 0.2rem solid $emailing;
    color: $font;

    &:hover {
      background-color: $font;
      color: $neutral;
      border: none;
    }
  }

  &--light {
    background-color: $neutral;
    color: $font;
    border: none;

    &:hover {
      background-color: $emailing;
      color: $neutral;
    }
  }

  &--small {
    height: 2rem;
    font-size: 1rem;
  }

  &--medium {
    height: 4rem;
    font-size: 1.4rem;
    font-weight: bold;
  }

  &--large {
    height: 5rem;
    width: 16rem;
    font-size: 1.5rem;
  }
}
