.dropdown {
  background-color: white;
  display: block;
  position: fixed;
  top: 4rem;
  right: 5%;
  width: 41.5rem;
  padding-left: 2.5rem;
  border-radius: 2%;
  font-size: 1.5rem;
  z-index: 40;
  pointer-events: none;
  opacity: 0;
  transition: all 0.35s linear;

  @include respondTo(xlarge) {
    right: 16.1%;
  }

  @include respondTo(mobile) {
    top: 1rem;
    right: 3.4%;
    width: 35rem;
  }

  &--is-open {
    opacity: 1;
    pointer-events: all;
  }

  &__title {
    //background-color: yellow;
    margin-top: 4.5rem;
    font-size: 2rem;
  }

  &__burger-icon {
    //background-color: aquamarine;
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
  }
}

.cart {
  //background-color: pink;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 35rem;
  margin-top: 2rem;
  margin-bottom: 5rem;

  @include respondTo(mobile) {
    width: 30rem;
  }
}

.list {
  width: 100%;

  &__article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3rem;
    line-height: 2.2rem;

    &__details {
      :nth-child(2) {
        color: grey;
        font-size: 1.3rem;
      }
    }
  }
}

.amount {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid $font;
  padding-bottom: 1rem;

  &__choice {
    //background-color: cadetblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    //height: 3rem;
    width: 6.5rem;

    &__minus,
    &__plus {
      //background-color: darkgreen;
      height: 1.7rem;
      width: 1.7rem;

      &__item {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

.total {
  //background-color: chartreuse;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 4rem;
  margin-bottom: 4rem;

  &__details {
    line-height: 2.2rem;

    &__title {
      font-weight: bold;
    }
    &__fees {
      font-size: 1.3rem;
      font-style: italic;
    }
  }

  &__amount {
    font-weight: bold;
  }
}

.remove {
  font-size: 1.3rem;
  cursor: pointer;
}

.overlay {
  position: fixed;
  display: block;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(antiquewhite, 0.5);
  z-index: 30;
  pointer-events: none;
  opacity: 0;
  transition: all 0.35s linear;

  &--is-open {
    opacity: 1;
    pointer-events: all;
  }
}
