.item {
  width: 100%;
  margin-bottom: 3rem;

  &__article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 3rem;
    font-size: 1.3rem;
    line-height: 2.2rem;

    &__details {
      :nth-child(2) {
        color: $detailing;
        font-size: 1.3rem;
      }
    }
  }
}

.amount {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid $font;
  padding-bottom: 1rem;
  font-size: 1.3rem;

  &__choice {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 6.5rem;
    font-size: 1.3rem;

    &__minus,
    &__plus {
      height: 1.7rem;
      width: 1.7rem;

      &__item {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
