.item {
  width: 100%;
  margin-bottom: 3rem;

  &__article {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 3rem;
    font-size: 1.3rem;
    line-height: 2.2rem;

    @include flexRow;

    &__details {
      :nth-child(2) {
        color: $detailing;
        font-size: 1.3rem;
      }
    }
  }
}

.amount {
  border-bottom: 1px solid $font;
  padding-bottom: 1rem;
  font-size: 1.3rem;
  justify-content: space-between;

  @include flexRow;

  &__choice {
    width: 6.5rem;
    font-size: 1.3rem;
    justify-content: space-between;

    @include flexRow;

    &__minus,
    &__plus {
      height: 1.7rem;
      width: 1.7rem;

      &__item {
        @include image;
      }
    }

    &__plus {
      &--disabled {
        opacity: 0.2;
        pointer-events: none;
      }
    }
  }
}
