.preview {
  //background-color: aquamarine;
  position: relative;
  display: flex;
  flex-direction: row;
  width: 90%;

  &:not(:last-child) {
    margin-bottom: 20rem;
  }

  @include respondTo(tablet) {
    width: 100%;
  }

  @include respondTo(mobile) {
    flex-direction: column-reverse;
    width: 95%;

    &:not(:last-child) {
      margin-bottom: 7rem;
    }
  }

  &--reverse {
    flex-direction: row-reverse;

    @include respondTo(mobile) {
      flex-direction: column-reverse;
    }

    .preview__brand {
      position: absolute;
      top: 27.3rem;
      left: 29.5rem;
      transform: rotate(90deg);

      @include respondTo(tablandscape) {
        top: 18.8rem;
        left: 20.5rem;
      }

      @include respondTo(tablet) {
        top: 15.15rem;
        left: 16.7rem;
      }

      @include respondTo(mobile) {
        transform: rotate(0);
        top: 33.4rem;
        left: -1.7rem;
      }
    }
    .preview__title {
      //background-color: green;
      margin-right: -2rem;

      @include respondTo(mobile) {
        margin-right: 0rem;
      }
    }
  }

  &__brand {
    //background-color: sandybrown;
    height: fit-content;
    width: 100%;
    position: absolute;
    bottom: 27.75rem;
    left: -29.5rem;
    font-size: 2.5rem;
    font-weight: 100;
    transform: rotate(-90deg);
    cursor: pointer;

    @include respondTo(tablandscape) {
      bottom: 18.8rem;
      left: -20.5rem;
      font-size: 2rem;
    }

    @include respondTo(tablet) {
      bottom: 15.16rem;
      left: -16.7rem;
    }

    @include respondTo(mobile) {
      position: absolute;
      bottom: -1.15rem;
      left: -1.7rem;
      transform: rotate(0);
      font-size: 2.2rem;
    }
  }

  &__image {
    width: 50rem;
    height: 60rem;

    @include respondTo(tablandscape) {
      height: 50rem;
    }

    @include respondTo(tablet) {
      height: 40rem;
      width: 80%;
    }

    @include respondTo(mobile) {
      height: 35rem;
      width: 100%;
    }

    &-item {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__title {
    //background-color: yellow;
    position: sticky;
    top: 5rem;
    margin-left: -2rem;
    height: fit-content;
    font-style: italic;
    font-size: 3rem;

    @include respondTo(tablet) {
      font-size: 2.5rem;
    }

    @include respondTo(mobile) {
      position: absolute;
      top: -2.25rem;
      right: -1.5rem;
      font-size: 3rem;
    }
  }
}
