.category {
  //background-color: lightblue;
  display: grid;
  grid-template-columns: repeat(auto-fill, 20rem);
  grid-gap: 5rem;
  justify-content: space-between;
  width: 100%;
  max-width: 130rem;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 5rem;

  @include respondTo(tablandscape) {
    //background-color: salmon;
    grid-template-columns: repeat(auto-fill, 13.5rem);
    grid-gap: 3rem;
  }

  @include respondTo(mobile) {
    grid-template-columns: repeat(auto-fill, 15rem);
  }

  &__title {
    background-color: pink;
    font-size: 2rem;
    margin-bottom: 3rem;

    &::first-letter {
      text-transform: uppercase;
    }
  }
}
