.preview {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-left: 1rem;
  text-decoration: none;
  color: $font;
  cursor: pointer;

  @include respondTo(tablet) {
    width: 100%;
  }

  @include respondTo(mobile) {
    flex-direction: column-reverse;
    width: 95%;

    &:not(:last-child) {
      margin-bottom: 7rem;
    }
  }

  &--reverse {
    flex-direction: row-reverse;
    padding-right: 1rem;

    @include respondTo(mobile) {
      flex-direction: column-reverse;
    }

    .preview__brand {
      position: absolute;
      top: 30.9rem;
      left: 31.6rem;
      transform: rotate(90deg);

      @include respondTo(tablandscape) {
        top: 21.04rem;
        left: 21.5rem;
      }

      @include respondTo(tablet) {
        top: 15.15rem;
        left: 16.7rem;
      }

      @include respondTo(mobile) {
        transform: rotate(0);
        top: 33.4rem;
        left: -1.7rem;
      }
    }

    .preview__title {
      margin-right: -2rem;

      @include respondTo(mobile) {
        margin-right: 0rem;
      }
    }
  }

  &__brand {
    height: fit-content;
    width: 100%;
    position: absolute;
    bottom: 30.9rem;
    left: -31.7rem;
    font-size: 2.5rem;
    font-weight: 100;
    transform: rotate(-90deg);
    cursor: pointer;

    @include respondTo(tablandscape) {
      bottom: 21.05rem;
      left: -21.5rem;
      font-size: 2rem;
    }

    @include respondTo(tablet) {
      bottom: 15.16rem;
      left: -16.7rem;
    }

    @include respondTo(mobile) {
      position: absolute;
      bottom: -1.15rem;
      left: -1.7rem;
      transform: rotate(0);
      font-size: 2.2rem;
    }
  }

  &__image {
    width: 50rem;
    height: 60rem;

    @include respondTo(tablandscape) {
      height: 50rem;
    }

    @include respondTo(tablet) {
      height: 40rem;
      width: 80%;
    }

    @include respondTo(mobile) {
      height: 35rem;
      width: 100%;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__title {
    position: sticky;
    top: 5rem;
    margin-left: -2rem;
    height: fit-content;
    width: fit-content;
    font-style: italic;
    font-size: 3rem;
    text-decoration: none;

    &:first-letter {
      text-transform: uppercase;
    }

    @include respondTo(tablet) {
      font-size: 2.5rem;
    }

    @include respondTo(mobile) {
      position: absolute;
      top: -2.25rem;
      right: -1.5rem;
      font-size: 3rem;
    }
  }
}
