.subscribe {
  &__form {
    @include respondTo(mobile) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__input {
    &:focus {
      outline: none;
    }
  }

  &__submit {
    background-color: $emailing;
    border: 0.19rem solid $neutral;
    color: $neutral;
    height: 5rem;
    width: 16rem;
    margin-left: 1rem;
    padding: 0 3rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.15s ease-in;

    @include respondTo(mobile) {
      margin: auto;
    }

    &:hover {
      background-color: $font;
      color: $neutral;
    }
  }

  &__status {
    display: block;
    color: $detailing;
    font-style: italic;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 2rem;
  }
}
