.emailing {
  &__user {
    justify-content: space-between;

    @include flexRow;

    @include respondTo(mobile) {
      align-items: center;

      @include flexColumn;
    }

    & input[type='email'] {
      height: 5rem;
      width: 25rem;
      padding-left: 1.5rem;
      font-size: 1.5rem;
      border: 0.1rem solid $emailing;
      border-radius: 0.5rem;

      @include respondTo(mobile) {
        margin-bottom: 2rem;
      }

      &:focus {
        outline: none;
      }
    }
  }
}
