.emailing {
  &__user {
    //background-color: darkgrey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include respondTo(mobile) {
      flex-direction: column;
      align-items: center;
    }
    & input[type='email'] {
      height: 5rem;
      width: 25rem;
      padding-left: 1.5rem;
      font-size: 1.5rem;
      border: 0.1rem solid $emailing;
      border-radius: 0.5rem;

      @include respondTo(mobile) {
        margin-bottom: 2rem;
      }

      &:focus {
        outline: none;
      }
    }
  }
}
