.footer {
  background-color: $background;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1.5rem;
  width: 100%;
  max-width: 138rem;
  padding-top: 8rem;

  @include respondTo(tablandscape) {
    width: 96%;
  }

  @include respondTo(mobile) {
    width: 90%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;

    &__copyright {
      margin-top: 6rem;
      margin-bottom: 2rem;
    }
  }
}

.item:not(:last-child) {
  align-items: center;
}
