.footer {
  background-color: $background;
  position: relative;
  width: 100%;
  padding-top: 8rem;

  @include leftTransform;

  @include respondTo(tablandscape) {
    width: 96%;
  }

  @include respondTo(mobile) {
    width: 100%;
    bottom: 0;
  }

  &__content {
    width: 90%;
    margin: auto;

    @include flexColumn;

    &__copyright {
      margin: 6rem auto 2rem auto;
    }
  }
}

.item:not(:last-child) {
  align-items: center;
}
