.footer {
  background-color: $background;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 98vw;
  padding-top: 8rem;
  //padding-bottom: 8rem;

  &_content {
    //background-color: yellow;
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: auto;
  }
}

.item:not(:last-child) {
  //background-color: blue;
  align-items: center;
}
