.footer-links {
  justify-content: center;
  width: 55rem;
  margin: auto;
  font-size: 1.2rem;

  @include flexRow;

  @include respondTo(mobile) {
    flex-wrap: wrap;
    align-items: center;
    width: 27rem;
    text-align: center;
    justify-content: center;

    @include flexColumn;
  }

  &__item {
    a {
      color: $font;
      text-decoration: none;
      cursor: pointer;
    }
    &:not(:last-child) {
      margin-right: 3rem;
    }

    @include respondTo(mobile) {
      width: 100%;

      &:not(:last-child) {
        margin: 0 0 1rem 0;
      }
    }
  }
}
