.header {
  //background-color: antiquewhite;
  height: 20rem;
  width: 100%;
  max-width: 130rem;
  margin: auto;
  margin-bottom: 5rem;

  @include respondTo(tablandscape) {
    width: 90%;
  }

  @include respondTo(mobile) {
    background-color: rgba(white, 0.7);
    height: 7rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding-top: 0;
  }

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include respondTo(mobile) {
      //background-color: aquamarine;
      position: relative;
      height: 100%;
      width: 90%;
      margin: auto;
    }

    &__logo {
      height: 7rem;
      width: 7rem;
      margin-top: 3rem;
      cursor: pointer;

      @include respondTo(mobile) {
        position: absolute;
        top: -1.5rem;
        left: 0;
        height: 4rem;
        width: 4rem;
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    &__title {
      margin-top: 2rem;
      margin-bottom: 4rem;

      @include respondTo(mobile) {
        display: none;
      }
    }

    &__navbar {
      @include respondTo(mobile) {
        position: absolute;
        top: 2.9rem;
        right: 0;
      }
    }
  }

  &__shop-cart {
    //background-color: yellow;
    position: absolute;
    top: 17.8rem;
    right: 5%;

    @include respondTo(xlarge) {
      right: 16.5%;
    }

    @include respondTo(mobile) {
      top: 1.4rem;
      right: 15%;
    }
  }
}
