.header {
  height: 20rem;
  width: 100%;
  max-width: 130rem;
  margin: 0 auto 5rem auto;

  @include respondTo(xlarge) {
    width: 90%;
  }

  @include respondTo(tablandscape) {
    width: 90%;
  }

  @include respondTo(mobile) {
    background-color: rgba($neutral, 0.7);
    height: 7rem;
    position: fixed;
    top: 0;
    width: 85%;
    z-index: 10;
    padding-top: 0;

    @include leftTransform;
  }

  &__wrapper {
    position: relative;
    align-items: center;

    @include flexColumn;

    @include respondTo(mobile) {
      height: 100%;
      width: 90%;
      margin: auto;
    }

    &__logo {
      height: 7rem;
      width: 7rem;
      margin-top: 3rem;
      cursor: pointer;

      @include respondTo(mobile) {
        position: absolute;
        top: -1.5rem;
        left: 0;
        height: 4rem;
        width: 4rem;
      }

      img {
        @include image;
      }
    }

    &__title {
      margin: 2rem auto 4rem auto;

      @include respondTo(mobile) {
        display: none;
      }
    }

    &__navbar {
      @include respondTo(mobile) {
        position: absolute;
        top: 2.9rem;
        right: 0;
      }
    }
  }

  &__shop-cart {
    position: absolute;
    top: 17.8rem;
    right: 5%;

    @include respondTo(xlarge) {
      right: 16.5%;
    }

    @include respondTo(mobile) {
      top: 1.4rem;
      right: 15%;
    }
  }
}
