.loader {
  background-color: $overlay;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  pointer-events: none;

  &__container {
    position: relative;
    height: 7rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & p {
      position: absolute;
      color: $font;
      font-size: 3rem;
      text-transform: uppercase;

      &:nth-child(1) {
        opacity: 0;
      }

      &:nth-child(2) {
        opacity: 0;
      }
    }
  }
}

.loader--loaded {
  opacity: 0;
  pointer-events: none;

  p {
    &:nth-child(1) {
      animation: fromTopOutro 0.5s ease forwards;
    }

    &:nth-child(2) {
      animation: fromBottomOutro 0.5s ease forwards;
    }
  }
}

@keyframes fromTopIntro {
  0% {
    opacity: 0;
    top: -10rem;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes fromTopOutro {
  0% {
    opacity: 0;
    top: 3rem;
  }
  100% {
    opacity: 0;
    top: 5rem;
  }
}

@keyframes fromBottomIntro {
  0% {
    opacity: 0;
    bottom: -10rem;
  }
  100% {
    opacity: 1;
    bottom: 0;
  }
}

@keyframes fromBottomOutro {
  0% {
    opacity: 1;
    bottom: 0;
  }
  100% {
    opacity: 0;
    bottom: 5rem;
  }
}

@keyframes opacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
