.loader {
  background-color: $neutral;
  width: 100%;
  max-width: 130rem;
  margin: auto;
  padding-top: 10rem;
  padding-bottom: 20rem;

  &__container {
    //background-color: pink;
    position: relative;
    height: 7rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    & p {
      position: absolute;
      color: $font;
      font-size: 8rem;
      text-transform: uppercase;

      &:nth-child(1) {
        opacity: 0;
        left: 10rem;
        animation: fromTop 2s ease;
      }

      &:nth-child(2) {
        opacity: 0;
        right: 10rem;
        animation: fromBottom 3s ease;
      }
    }
  }
}

@keyframes fromTop {
  0% {
    opacity: 0;
    top: -10rem;
  }
  25% {
    opacity: 1;
    top: 0;
  }
  75% {
    opacity: 0;
    top: 3rem;
  }
  100% {
    opacity: 0;
    top: 5rem;
  }
}

@keyframes fromBottom {
  0% {
    opacity: 0;
    bottom: -10rem;
  }
  75% {
    opacity: 1;
    bottom: 0;
  }
  100% {
    opacity: 0;
    bottom: 5rem;
  }
}
