.navbar {
  position: relative;

  &__burger {
    display: none;
    position: absolute;
    right: 0;

    @include respondTo(mobile) {
      display: block;
      z-index: 30;
    }
  }

  &__classic {
    position: relative;
    width: 30rem;
    list-style-type: none;
    justify-content: space-between;

    @include flexRow;

    @include respondTo(mobile) {
      background-color: $background;
      position: fixed;
      top: 0;
      left: -100vw;
      justify-content: flex-start;
      padding: 5rem 0 0 3rem;
      z-index: 20;
      opacity: 0;
      transition: 0.5s ease-in-out;

      @include view;

      @include flexColumn;

      &--is-open {
        left: -3.4rem;
        opacity: 1;
        transition: 0.5s ease-in-out;
      }
    }

    &__title {
      font-size: 1.3rem;
      text-transform: uppercase;

      a {
        color: $font;
        text-decoration: none;
        cursor: pointer;
      }

      &:not(:last-child) {
        margin-bottom: 3rem;
      }
    }
  }
}
