.navbar {
  &__burger {
    display: none;

    @include respondTo(mobile) {
      //background-color: salmon;
      display: block;
    }
  }

  &__classic {
    //background-color: lightblue;
    width: 30rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;

    @include respondTo(mobile) {
      display: none;
      flex-direction: column;
    }

    &--is-open {
      background-color: $background;
      position: fixed;
      height: 100%;
      width: 100%;
    }

    &-item {
      //background-color: lightgreen;
      font-size: 1.3rem;
      text-transform: uppercase;

      &:not(:last-child) {
        margin-bottom: 3rem;
      }

      @include respondTo(mobile) {
        background-color: rosybrown;
      }
    }
  }
}
