.navbar__burger {
  display: none;
  height: 5rem;
  width: 5rem;

  @include respondTo(mobile) {
    display: block;
  }
}

.navbar__classic {
  //background-color: lightblue;
  width: 30rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;

  @include respondTo(mobile) {
    flex-direction: column;
  }

  &-item {
    //background-color: lightgreen;
    font-size: 1.3rem;
    text-transform: uppercase;
  }
}
