.product {
  text-align: center;

  @include respondTo(tablandscape) {
    margin-bottom: 2rem;
  }

  &__visual {
    position: relative;

    &:hover {
      .product__visual__button {
        opacity: 1;
        pointer-events: all;
      }
    }

    &__image {
      height: 27rem;
      width: 100%;

      @include respondTo(tablandscape) {
        height: 18rem;
      }

      @include respondTo(mobile) {
        height: 22rem;
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    &__button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      pointer-events: none;
      transition: all 0.15s linear;
    }
  }

  &__details {
    margin-top: 1rem;
    width: 100%;

    @include respondTo(tablandscape) {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }

    &__title {
      font-weight: 100;
      margin-bottom: 0.5rem;
    }

    &__price {
      font-size: 1.3rem;
    }
  }
}
