.social {
  //background-color: salmon;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 8rem;
  margin-bottom: 8rem;

  @include respondTo(mobile) {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
}
