.subscription {
  max-width: 42rem;
  margin: auto;

  @include respondTo(mobile) {
    max-width: 28rem;
  }

  &__title {
    font-size: 2rem;

    @include respondTo(mobile) {
      font-size: 1.6rem;
    }
  }

  &__text {
    text-align: center;
  }

  &__emailing {
    margin: 3rem auto;
  }

  &__privacy {
    font-size: 1.4rem;
  }
}
