.subscription {
  //background-color: green;
  max-width: 42rem;
  margin: auto;

  &__title {
    font-size: 2rem;
  }

  &__text {
    text-align: center;
  }

  &__emailing {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  &__privacy {
    font-size: 1.4rem;
  }
}
