input[type='submit'] {
  background-color: $background;
  border: 0.2rem solid $emailing;
  height: 5rem;
  width: 16rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: $font;
  cursor: pointer;
}
