.message {
  padding: 13rem 0;
  text-align: center;

  @include position;

  @include respondTo(mobile) {
    padding: 10rem 0;
  }

  &__brush {
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 4rem;
    padding: 5rem 0;

    & p {
      color: $neutral;
      font-style: italic;
    }

    :nth-child(1) {
      font-size: 6rem;
      font-weight: bold;
      margin-bottom: 2rem;

      @include respondTo(mobile) {
        font-size: 3rem;
        margin-bottom: 0.5rem;
      }
    }
    :nth-child(2) {
      font-size: 3rem;

      @include respondTo(mobile) {
        font-size: 2rem;
      }
    }
  }
}
