.message {
  //background-color: salmon;
  width: 100%;
  max-width: 130rem;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding-top: 13rem;
  padding-bottom: 13rem;
  text-align: center;

  @include respondTo(mobile) {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  &__brush {
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 4rem;
    padding-top: 5rem;
    padding-bottom: 5rem;

    & p {
      color: $neutral;
      font-style: italic;
    }

    :nth-child(1) {
      font-size: 6rem;
      font-weight: bold;
      margin-bottom: 2rem;

      @include respondTo(mobile) {
        font-size: 3rem;
        margin-bottom: 0.5rem;
      }
    }
    :nth-child(2) {
      font-size: 3rem;

      @include respondTo(mobile) {
        font-size: 2rem;
      }
    }
  }
}
