.cgv {
  //background-color: pink;
  width: 60%;
  max-width: 100rem;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 1.2rem;

  &__fr,
  &__en {
    //border: 2px solid red;
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding-bottom: 4rem;

    &:not(:last-child) {
      border-bottom: 1px solid $font;
    }

    &__section {
      margin-top: 2rem;
    }

    & h3 {
      background-color: darkcyan;
      margin-bottom: 1rem;
    }
  }
}
