.notice {
  //background-color: pink;
  width: 60%;
  max-width: 100rem;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;

  &__fr,
  &__en {
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding-bottom: 4rem;

    &:not(:last-child) {
      border-bottom: 1px solid $font;
    }
  }

  &__title {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 4rem;
  }

  &__website,
  &__capital,
  &__publication,
  &__hosting,
  &__garantees,
  &__rights {
    //background-color: aquamarine;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    font-size: 1.2rem;

    &--title {
      font-size: 1.3rem;
      font-weight: bold;
      margin-bottom: 1rem;
      line-height: 1.8rem;
    }
  }

  &__garantees {
    &--responsabilities {
      margin-top: 1rem;
    }
  }

  &__rights {
    &--copyright {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    &--penalty {
      margin-bottom: 1rem;
    }
  }
}
